body {
    padding: 0;
    margin: 0;
}

body,p,table,td,th,div,span {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

h1,
h2,
p,
.mblock {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   width: 100%;
}

p,
.mblock {
    background-color: #eeeeee;
    padding: 15px;
}

h1 {
    font-family: 'Exo', sans-serif;
    letter-spacing: 2px;
    font-size: 2.0em;
    font-weight: bold;
    width: 100%;
    color: white;
    background-color: black;
    padding: 15px;
}

h2 {
    font-family: 'Exo', sans-serif;
    letter-spacing: 2px;
    font-size: 1.0em;
    background-color: #333333;
    padding: 15px;
    color: white;
}

#base {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #888;
    box-shadow: 0 0 5px #888;
}

table { 
    border-collapse: collapse; 
    width: 100%;
}

table th { 
    padding: 5px; 
    border: 1px solid #aaaaaa; 
    background-color: #333333; 
    color: #eeeeee; 
    text-align: left; 
}

table td { 
    padding: 5px; 
    border: 1px solid #aaaaaa; 
}

table tr {
    background: #eee;
}

table tr:nth-child(even) {
    background: #f6f6f6;
}

/* ---------- uniForm tweaks ---------- */

form.uniForm {
}

form.uniForm .ctrlHolder,
form.uniForm .error { 
    border-bottom: 1px dotted #aaaaaa; 
}

.errorField {
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    font-size: 14px;
    margin: 0;
    margin-bottom: 10px;
}

form.uniForm .buttonHolder {
    margin: 0;
}

form.uniForm .error {
    margin: 0.5em;
}

form.uniForm fieldset { 
    border: 1px solid #999999;
}

form.uniForm legend { 
    padding: 0.3em; 
}
