body {
    padding: 0;
    margin: 0;
}

body,p,table,td,th,div,span {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 2.0em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
}

#content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #eeeeee;
    padding: 15px;
    box-shadow: 0 0 5px #888;
}


table { 
    border-collapse: collapse; 
    width: 100%;
}

table th { 
    padding: 5px; 
    border: 1px solid #aaaaaa; 
    background-color: rgba(40,52,59,1); 
    color: #eeeeee; 
    text-align: left; 
}

table td { 
    padding: 5px; 
    border: 1px solid #aaaaaa; 
    background-color: #eeeeee; 
}

p {
    margin: 1.0em;
}

/* ---------- uniForm tweaks ---------- */

form.uniForm {
}

form.uniForm .ctrlHolder,
form.uniForm .error { 
    border-bottom: 1px dotted #aaaaaa; 
}

.errorField {
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    font-size: 14px;
    margin: 0;
    margin-bottom: 10px;
}

form.uniForm .buttonHolder {
    margin: 0;
}

form.uniForm .error {
    margin: 0.5em;
}

form.uniForm fieldset { 
    border: 1px solid #999999;
}

form.uniForm legend { 
    padding: 0.3em; 
}
