{% extends "manager/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
{{ block.super }}
{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
        $('form.uniForm').uniform();
        $(".errorField").addClass("ui-state-error ui-corner-all");
        $("#vote_skip").click(function(e) {
            e.preventDefault();
            $.ajax({ 
                url: '{% url 'manager:reqskip' %}', 
                dataType: 'json', 
                timeout: 5000,
                type: 'GET',
            });
        });
        $('.urlinput').addClass('textInput');
{% endblock %}

{% block content %}
{{ block.super }}

    <h2>{% trans "Playback management" %}</h2>
    <p>
{% if current %}
    {% blocktrans with title=current.description %}
    Currently playing "{{ title }}"
    {% endblocktrans %}
    (<a href="" id="vote_skip">{% trans "Vote for skipping this video" %}</a>)
{% else %}
    {% trans "There is no video playing currently." %}
{% endif %}.
    </p>
    <h2>{% trans "Playlist" %}</h2>

    <div class="mblock">
{% crispy addform addform.helper %}
    </div>
    
{% if playlist %}
    <div class="mblock">
        <table>
            <thead>
                <tr>
                    <th>{% trans "ID" %}</th>
                    <th>{% trans "Description" %}</th>
                    <th>{% trans "URL" %}</th>
                    <th>{% trans "IP Address" %}</th>
                </tr>
            </thead>
            <tbody>
{% for item in playlist %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.description }}</td>
                    <td><a href="{{ item.youtube_url }}">{{ item.youtube_url }}</a></td>
                    <td>{{ item.ip }}</td>
                </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p>{% trans "Playlist is empty." %}</p>
{% endif %}

    <h2>{% trans "Playlist history" %}</h2>
    <p>
        <a href="{% url 'manager:linklist' %}">{% trans "Download playback history in CSV format" %}</a>
    </p>
{% if oldies %}
    <div class="mblock">
        <table>
            <thead>
                <tr>
                    <th>{% trans "ID" %}</th>
                    <th>{% trans "Description" %}</th>
                    <th>{% trans "URL" %}</th>
                    <th>{% trans "IP Address" %}</th>
                </tr>
            </thead>
            <tbody>
{% for item in oldies %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.description }}</td>
                    <td><a href="{{ item.youtube_url }}">{{ item.youtube_url }}</a></td>
                    <td>{{ item.ip }}</td>
                </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p>{% trans "No old items." %}</p>
{% endif %}

    <h2>{% trans "Language" %}</h2>
    
    <div class="mblock">
        <form action="{% url 'set_language' %}" method="post">
{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}" />
            <select name="language">
{% get_language_info_list for LANGUAGES as languages %}
{% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
{% endfor %}
            </select>
            <input type="submit" value="{% trans "Select" %}" />
        </form>
    </div>


{% endblock %}