{% extends "manager/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
{{ block.super }}
{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
		var data_timer = null;
		
		function clear_timer() {
            if(data_timer != null) {
                window.clearTimeout(data_timer);
            }
            data_timer = null;
		}
		
        function wait() {
			clear_timer();
            data_timer = setTimeout($.proxy(get_data, this), 3000);
        }

        function get_data() {
            $.ajax({ 
                url: '{% url 'manager:getdata' %}', 
                dataType: 'json', 
                success: $.proxy(fetch_success, this),
                timeout: 5000,
                type: 'GET',
                error: $.proxy(fetch_failure, this)
            });
        }
        
        function force_update() {
        	clear_timer();
        	get_data();
        }
        
        function pretty_duration(secs) {
        	var minutes = Math.floor(secs / 60);
        	var seconds = Math.floor(secs % 60);
        	var min_str = (minutes < 10) ? '0'+minutes : ''+minutes;
        	var sec_str = (seconds < 10) ? '0'+seconds : ''+seconds;
        	return min_str+':'+sec_str;
        }
        
        function add_list_elements(list, data) {
        	var html = '';
        	$.each(data, function(index, entry) {
        		html += '<tr> \
        			<td>'+entry['id']+'</td> \
        			<td>'+entry['description']+'</td> \
        			<td><a href="'+entry['youtube_url']+'">'+entry['youtube_url']+'</a></td> \
        			<td>'+pretty_duration(entry['duration'])+'</td> \
        		</tr>';
        	});
        	list.html(html);
        }
        
        function toggle_data_error(data_id, errortext_id, data) {
        	if(data.length > 0) {
        		data_id.show();
        		errortext_id.hide();
        	} else {
        		data_id.hide();
        		errortext_id.show();
        	}
        }
        
        function fetch_success(data) {
			add_list_elements($('#playlistcontent'), data['playlist']);
			add_list_elements($('#oldcontent'), data['old']);
			toggle_data_error($('#playlist_table'), $('#playlist_text'), data['playlist']);
			toggle_data_error($('#old_table'), $('#old_text'), data['old']);
			
			if(data['current']) {
				$('#currentcontent').html(data['current']['description']);
				$('.current_block').show();
				$('#current_error').hide();
			} else {
				$('#currentcontent').html('');
				$('.current_block').hide();
				$('#current_error').show();
			}
			
			$("#skip_count").html(''+data['skips']);
			
			wait();
        }
        
        function fetch_failure() {
            console.log("FETCH FAILURE!");
            wait();
        }
        
        function send_skip_request() {
	        $.ajax({ 
	            url: '{% url 'manager:reqskip' %}', 
	            dataType: 'json', 
	            timeout: 5000,
	            success: $.proxy(force_update, this),
	            type: 'GET',
	        });
        }

		function init() {
	        $('form.uniForm').uniform();
	        $(".errorField").addClass("ui-state-error ui-corner-all");
	        $("#vote_skip").button();
	        $("#vote_skip").click(function(e) {
	            e.preventDefault();
				send_skip_request();
	        });
	        $('.urlinput').addClass('textInput');
	        $('input[type=submit]').button();
	        $('input[type=reset]').button();
	        
	        $('#playlist_table').hide();
	        $('#old_table').hide();
	        $('.current_block').hide();
	        
	        get_data();
		}

		init();
{% endblock %}

{% block content %}
{{ block.super }}

    <h2>{% trans "Playback management" %}</h2>
    <p class="current_block">
    	{% trans "Now playing" %}
    	"<span id="currentcontent">{{ title }}</span>".
   	</p>
   	<p class="current_block">
   		<span id="skip_count">0</span>/3 {% trans "users have requested skipping this video" %}.<br /><br />
    	<a href="" id="vote_skip">{% trans "Vote for skipping this video" %}</a>
    </p>
    <p id="current_error">
    	{% trans "There is no video playing currently." %}
    </p>

    <h2>{% trans "Playlist" %}</h2>

    <div class="mblock">
{% crispy addform addform.helper %}
    </div>
    
    <div class="mblock" id="playlist_table">
        <table>
            <thead>
                <tr>
                    <th>{% trans "ID" %}</th>
                    <th>{% trans "Description" %}</th>
                    <th>{% trans "URL" %}</th>
                    <th>{% trans "Duration" %}</th>
                </tr>
            </thead>
            <tbody id="playlistcontent">
            </tbody>
        </table>
    </div>
    <p id="playlist_text">{% trans "No entries in playlist" %}</p>

    <h2>{% trans "Playlist history" %}</h2>
    <p>
        <a href="{% url 'manager:linklist' %}">{% trans "Download playback history in CSV format" %}</a>
    </p>
    <div class="mblock" id="old_table">
        <table>
            <thead>
                <tr>
                    <th>{% trans "ID" %}</th>
                    <th>{% trans "Description" %}</th>
                    <th>{% trans "URL" %}</th>
                    <th>{% trans "Duration" %}</th>
                </tr>
            </thead>
            <tbody id="oldcontent">
            </tbody>
        </table>
    </div>
    <p id="old_text">{% trans "No old entries" %}</p>

    <h2>{% trans "Language" %}</h2>
    
    <div class="mblock">
        <form action="{% url 'set_language' %}" method="post">
{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}" />
            <select name="language">
{% get_language_info_list for LANGUAGES as languages %}
{% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
{% endfor %}
            </select>
            <input type="submit" value="{% trans "Select" %}" />
        </form>
    </div>


{% endblock %}