{% extends "player/base.html" %}

{% block title %}
{{ block.super }}
{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
        var timer = null;
        var check_timer = null;
        var url = null;
        var timer = null;
        var default_video = "AeHiVJr4MGA";
        var playing_now = "";
        var current_id = -1;

        function parse_url(url) {
            var code = url;
            if(code[code.length-1] == '/') {
                code = code.substring(0, code.length-1);
            }
            code = code.substring(code.lastIndexOf('/')+1);
            return code;
        }
        
        function clear_timer() {
            if(timer != null) {
                window.clearTimeout(timer);
            }
            timer = null;
        }

        function clear_check_timer() {
            if(check_timer != null) {
                window.clearTimeout(check_timer);
            }
            check_timer = null;
        }

        function wait() {
            clear_timer();
            timer = setTimeout($.proxy(next, this), 1000);
        }
        
        function playvid(id) {
            if(playing_now == default_video && id == default_video) {
                //$('body').tubeplayer('seek', 0);
            } else {
                $('body').tubeplayer('play', id);
            }
            playing_now = id;
        }

        function fetch_success(data) {
            if(data['state'] == 0) {
                console.log("No further videos, waiting ...");
                playvid(default_video);
                clear_check_timer();
                wait();
            } else {
                url = data['url'];
                current_id = data['id']
                console.log("Got video "+ url);
                playvid(parse_url(url));
                wait_skip_check();
            }
        }
        
        function fetch_failure() {
            console.log("FETCH FAILURE!");
            playvid(default_video);
            clear_check_timer();
            wait();
        }

        function next() {
            console.log("Fetching next!");
            $.ajax({ 
                url: '{% url 'player:next' %}', 
                dataType: 'json', 
                success: $.proxy(fetch_success, this),
                timeout: 5000,
                type: 'GET',
                error: $.proxy(fetch_failure, this)
            });
        }

        function wait_skip_check() {
            clear_check_timer();
            check_timer = setTimeout($.proxy(check_skip, this), 2500);
        }

        function check_success(data) {
            if(data['error'] == 0 && data['skip'] == 1) {
                next();
            } else {
                wait_skip_check();
            }
        }
        
        function check_failure() {
            console.log("Skip check failure");
            wait_skip_check();
        }

        function check_skip() {
            console.log("Checking skip requests.");
            $.ajax({ 
                url: '{% url 'player:checkskip' %}', 
                dataType: 'json', 
                success: $.proxy(check_success, this),
                timeout: 5000,
                type: 'GET',
                data: {video_id: current_id},
                error: $.proxy(check_failure, this)
            });
        }

        function on_resize() {
            $('body').tubeplayer("size", {
                width: $(window).width(), 
                height: $(window).height()-3
            });
        }

        function init() {
            $(window).resize(on_resize);
            $('body').tubeplayer({
                width: $(window).width(),
                height: $(window).height()-3,
                allowFullScreen: "false",
                initialVideo: default_video,
                preferredQuality: "hd720",
                iframed: true,
                autoplay: false,
                onPlayerEnded: $.proxy(function() {
                    console.log("Playback ended, loading next.");
                    if(playing_now == default_video) {
                        playing_now = "";
                    }
                    next();
                }, this),
                onErrorNotEmbeddable: $.proxy(function() {
                    console.log("Error: Not embeddable!");
                    next();
                }, this),
                onErrorNotFound: $.proxy(function() {
                    console.log("Error: Not found!");
                    next();
                }, this),
                onErrorInvalidParameter: $.proxy(function() {
                    console.log("Error: Invalid parameter!");
                    next();
                }, this),
            });
            wait();
        }
        
        init();
{% endblock %}

{% block content %}
{{ block.super }}
{% endblock %}